.coisotodo{
  background-size: 100vw;
  margin: 0;
  width: 100vw;
  height: auto;
}
.maincard{
  width: 80vw;
  margin-left: 10vw;
  margin-top: 50px ;
}
.Banner{
  width: 12rem;
  box-shadow: 0px 0px 80px 5px rgba(41, 3, 51, 0.541);
  z-index: 100;
  border-radius: 15px;
  margin-left: 10px;
}
.Banner img{
  width: 100%;
  border-radius: 15px;
}
.cardizin{
  background-color: #363638;
  z-index: 5;
  margin-top: -150px;
  border-radius: 10px 10px 0 0;
  display: grid;
  grid-template-columns: 13rem auto;
}
.parte1{
  margin-left: 10px;
}
.vazioInfinito{
  width: 12rem;
  height: 150px;
}
.textinhoUm{
  text-align: center;
}
.small{
  margin-top: -10px;
}
.textin{
  margin-left: 5px;
  margin-top: 10px;
  padding-right: 30px;
}